<footer>
<div class="footer1">
    <div class="p1">
        <h5> <strong> Address </strong> </h5>
        <p> 317A, Galle Road, Colombo 04, Sri Lanka </p>
    </div>
    
   <div class="p2">
       <h5> <strong> Contact number </strong> </h5>
       <p> +94 114381981 </p>
   </div>

   <div class="social1">
       <h5><strong> Social contacts</strong> </h5>
       <div class="socialURLS">
         <a href="https://www.facebook.com/AMDTSriLanka">
            <img src="/assets/fbb.png" width="20px" id="fbID">
         </a>
          <a href="https://www.instagram.com/amdtlk/">
            <img src="/assets/123456.png" width="20px" id="igID">
            </a>
       </div>
   </div>
</div>
</footer>