<nav>
    <input type="checkbox" id="check">
    <div class="sideNav">
        <label for="check">
            <a>
                <img src="../assets/menuicon.png" width="35px" id="naviD">
            </a>
        </label>
        <a href="Testimonial.html"><img id="navimg" src="../assets/testimonialicon.png" width="35px">
            <span class="navgdis">Testimonials </span></a>

        <a href="Developer.html"><img id="navimg" src="../assets/developericon.png" width="35px">
            <span>The Developer</span> </a>

        <a href="Contact.html"><img id="navimg" src="../assets/contacticon.png" width="35px">
            <span onmouseout="display:none">Contact Us</span> </a>
    </div>
</nav>